$font-stack:    Helvetica, sans-serif
$primary-color: #333333

body
  background-color: #ffffff
  color: $primary-color
  font: 100% $font-stack
  font-weight: bold
  text-align: center
  
input, button
  backround-color: #bbbbbb
  outline: none