body {
	background-image: url(/img/1b.png);
	font-family: 'Josefin Sans', sans-serif;
}

.main-container {
	display: flex;
}

h1 {
	color: white;
	font-size: 54px;
	font-weight: bold;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 60px;
}

.input-area {
	align-items: center;
	display: flex;
	flex-direction: column;
	width: 45%;
}

.meal-input, .calorie-input, .date-input {
	width: 240px;
	height: 25px;
	font-size: 15px;
	border-radius: 5px;
}

.mainbar {
	width: 55%;
}

table {
	width: 100%;
	padding: 20px;
	text-align: center;
}

tr {
	height: 38px;
}

.green {
	background: rgba(0,255,0,0.28);
}

.yellow {
	background: rgba(252,249,70,0.28);
}

.red {
	background: rgba(255,0,0,0.28);
}

.delete, .filter, .all, .submit-button {
	background-color: transparent;
	border-color: transparent;
}

.main-row {
	background: rgba(255, 255, 255, 0.6);
	text-align: center;
	font-weight: bold;
}


.row .delete-cell {
	visibility: hidden;
}

.row:hover .delete-cell {
	visibility: visible;
}

.delete-cell {
	width: 20px;
}

.filters {
	border-radius: 4px;
	background: rgba(255, 255, 255, 0.4);
	height: 60px;
	margin-left: 20px;
	margin-right: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
}


.date-filter {
	width: 240px;
	height: 30px;
	font-size: 13px;
	border-radius: 5px;
}


.sum-container{
	margin-top: 70px;
	margin-bottom: 30px;
	background: rgba(255, 255, 255, 0.4);
	border-radius: 5px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 35px;
	padding-right: 35px;
	color: white;
	font-size: 23px;
}

.sum{
	padding: 30px;
}

.submit-button{
	margin-top: 20px;
}

.icon{
	padding-right: 10px;

}

.circles {
	display: flex;
	color: black;
	font-size: 30px;
}

.green-circle{
	padding: 35px;
	background-image: url(/img/green2.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 20px; 
	opacity: 0.6;
}

.yellow-circle{
	padding: 35px;
	margin-left: 5px;
	background-image: url(/img/yellow2.png);
	background-repeat: no-repeat;
	background-position: center;
	margin-bottom: 20px; 
	opacity: 0.6;	
}

.red-circle {
	padding: 35px;
    background-position: center; 
	background-image: url(/img/red2.png);
	background-repeat: no-repeat;
	margin-bottom: 20px;
	opacity: 0.6;
}


/*
@media screen and (min-width: 980px) {
    body {
        background-color: pink;
    }
}
*/


